.details__title {
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  text-align: left;
  // color: $white;
}

.details__date,
.details__description {
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
  text-align: left;
  // color: $white;
}
