@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin button($bg-color: $blue-bc, $text-color: $white) { //можно так?
  background-color: $bg-color;
  color: $text-color;
  padding: 20px;
  border: none;
  width: 100%;

  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
}
